html {
  font-size: 15px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Open Sans', sans-serif; /* this should be the rest of the output you got from Google fonts */
}
h1 {
  font-size: 60px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  width: 600px;
}
p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  /*color: #59ECF7;*/
  color: red;
}
html {
  background-color: #700F75;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #4F4020;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
li {
  background-image: url(images/bullet-tick.svg);
  margin-left: 12px;
  padding: 2px 0 2px 22px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: red;
  /*color: #59ECF7;*/
}
ul {
  list-style-image: url('images/bullet-tick.svg');
}
